{{#each data as |taco|}}
<div class="card mb-3 cardsita">
  <img class="card-img-top imagensita" src="{{img}}" alt="dishIMG">
  <div class="card-body">
    <h4 class="card-title">{{name}}</h4>
    <p class="card-text">{{description}}</p>
    <ul>
      {{#each ingredients}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    {{#each spicyLevel}}
      {{this}}
    {{/each}}
  </div>
</div>
{{/each}}