<div class="resultsfirst card">
  <div class="resultssecond card-body">
    <h4 class="card-title">{{nom_estab}}</h4>
    <p class="card-text">{{nombre_act}}</p>
    <p class="card-text">{{tipo_vial}} {{nom_vial}}, {{nomb_asent}}</p>
  </div>
</div>